<button pButton id="departmentDialog" (click)="addDepartment()">new department</button>
<p-dialog id="p-dialog" [(visible)]="departmentDialog" [style]="{width:'600px'}" [header]="'addDepartment.New Department'|translate" [modal]="true" styleClass="p-fluid" >
    <div *ngIf="formGroup" id="form">
        <form [formGroup]="formGroup">
            <div class="form-group">
                <input type="text" [placeholder]="'addDepartment.Department name' | translate" pInputText formControlName="departmentName">
                <div>
                    <small *ngIf="isInvalid('departmentName')" translate>addDepartment.Please enter a department name</small>
                </div>
            </div>
            <div class="form-group">
                <input type="text" [placeholder]="'addDepartment.Department code' | translate" pInputText formControlName="departmentCode">
                <div>
                    <small *ngIf="isInvalid('departmentCode')" translate>addDepartment.Please enter a department code</small>
                </div>
            </div>
            <div class="form-group">
                <input type="text" [placeholder]="'addDepartment.Department head first name' | translate" pInputText formControlName="deptHeadFirstName">
                <div>
                    <small *ngIf="isInvalid('deptHeadFirstName')" translate>addDepartment.Please enter a department head first name</small>
                </div>
            </div>
            <div class="form-group">
                <input type="text" [placeholder]="'addDepartment.Department head last name' | translate" pInputText formControlName="deptHeadLastName">
                <div>
                    <small *ngIf="isInvalid('deptHeadLastName')" translate>addDepartment.Please enter a department name</small>
                </div>
            </div>
            <div class="form-group">
                <input type="text" [placeholder]="'addDepartment.Department phonePerfix' | translate" pInputText formControlName="phonePerfix">
                <div>
                    <small *ngIf="isInvalid('phonePerfix')" translate>addDepartment.Please enter a department phonePerfix</small>
                </div>
            </div>
            <div class="form-group">
                <input type="text" [placeholder]="'addDepartment.Department phone number' | translate" pInputText formControlName="phoneNumber">
                <div>
                    <small *ngIf="isInvalid('phoneNumber')" translate>addDepartment.Please enter a department phone number</small>
                </div>
            </div>
            <div class="form-group">
                <input type="text" [placeholder]="'addDepartment.Department descreption' | translate" pInputText formControlName="descreption">
                <div>
                    <small *ngIf="isInvalid('descreption')" translate>addDepartment.Please enter a department descreption</small>
                </div>
            </div>
            <div class="form-group">
                <p-dropdown formControlName="budgetTypeId" [options]="budgetTypeList" [placeholder]="'addDepartment.budget type' | translate" optionLabel="name" appendTo="body" [style]="{'width':'80%'}"></p-dropdown>
                <div>
                  <small *ngIf="isInvalid('budgetTypeId')" translate>addDepartment.Please select an budget type.</small>
                </div>
            </div>
            <div>
                <p *ngIf="!validForm" translate>globalForm.Please fill in all required fields</p>
                <button pButton type="button" (click)="saveDepartment()" class="centered-button">{{'addDepartment.Add department' | translate}}</button>
            </div>
        </form>
    </div>
</p-dialog>
