
@import '../../../../../styles.scss'; 
#departmentDialog{
    width: 450px;
    height: 100px;
    font-size: 26px;
    font-weight: bolder;
    justify-content: center;
    border-radius: 15px;
}
form{
    .form-group{
        margin-bottom: 30px;
    }
    input{
        width: 80%;
    }
    small{
        font-weight: bold;
    }
    button{
        width: 80%;
    }
}
