@import '../../../../styles.scss';
.previousExpenseTable {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  p-table {
      width: 100%;  
  }
}
.selectYear{
  margin: 3rem;
}
.total-row{
  font-weight: bold;
}
#showExpensesTd:hover{
  color: $primaryColor;
  cursor: pointer;
}
::ng-deep {
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 1rem;
  } 
}
