<button class="button" pButton (click)="addMonthlyRegister()" translate>monthlyCashRegister.New Monthly Cash Register</button>
<!-- <p-toast></p-toast> -->
<p-dialog [(visible)]="addMonthlyRegisterDialog" [style]="{ width: '450px' }" header="{{ 'monthlyCashRegister.New Monthly Cash Register' | translate }}" [modal]="true" styleClass="p-fluid">
  <div id="addMonthlyRegisterForm">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <p-dropdown formControlName="selectedMonth" [options]="months" [placeholder]="'Select Month'|translate" optionLabel="name" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
      </div>
      <div class="form-group">
        <input type="text" pInputText formControlName="currentYear" [placeholder]="'Current Year'|translate">
        <p *ngIf="!validForm" translate>globalForm.Please fill in all required fields</p>
        <button pButton type="button" (click)="saveMonthlyRegister()" class="centered-button">{{'monthlyCashRegister.Add Monthly Cash Register' | translate}}</button>
      </div>
    </form>
  </div>
</p-dialog>
