@import '../../../../styles.scss';
.button{
  margin: 4rem;
  font-weight: bold;
}
form{
  .form-group{
      margin-bottom: 30px;
  }
  button{
    margin-top: 30px;
    justify-content: center;
    font-weight: bold;
  }
}
