<div id="usersPage">
  <p-toast></p-toast>
  <div class="card flex justify-content-center">
    <div class="addUserButton">
      <p-button (click)="openRegiterUsersDialog()" [label]="'registerUser.Add New User'|translate"></p-button>
    </div>
    <p-dialog [header]="'registerUser.Add New User'|translate" [(visible)]="registerUserDialog" [modal]="true"
      [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
      <p class="m-0">
      <form [formGroup]="registerUserForm">
        <div class="form-group">
        </div>
        <div class="form-group">
          <label for="userName" translate=>registerUser.username</label>
          <input type="text" pInputText formControlName="userName">
          <div>
            <small *ngIf="isInvalid('userName', registerUserForm, registerFormFormSubmitted)" translate>registerUser.Please enter username</small>
          </div>
        </div>
        <div class="form-group">
          <label for="passwordHash" translate=>registerUser.password</label>
          <input type="text" pInputText formControlName="passwordHash">
          <div>
            <small *ngIf="isInvalid('passwordHash', registerUserForm, registerFormFormSubmitted)" translate>registerUser.Password must be at least 6 characters long and
              include both letters and numbers</small>
          </div>
        </div>
        <div class="form-group">
          <label for="email" translate=>registerUser.email</label>
          <input type="text" pInputText formControlName="email">
          <div>
            <small *ngIf="isInvalid('email', registerUserForm, registerFormFormSubmitted)" translate>registerUser.Invalid email format</small>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber" translate=>registerUser.phoneNumber</label>
          <input type="text" pInputText mask="99-999999" formControlName="phoneNumber">
        </div>
        <!-- <p *ngIf="!validForm" translate>globalForm.Please fill in all required fields</p> -->
        <button pButton type="button" (click)="registerUser()" class="centered-button">{{'registerUser.Add New User'
          |translate}}</button>
      </form>
    </p-dialog>
  </div>
  <div class="usersList">
    <div *ngFor="let user of usersList" class="card flex justify-content-center">
      <p-confirmPopup></p-confirmPopup>
      <div class="userCard">
        <div class="userDetails">
          <div>
            <i class="fa-solid fa-circle-user"></i>
          </div>
          <div>
            <h3>{{user.username}}</h3>
            <h4>{{user.email}}</h4>
            <h4>{{user.phoneNumber}}</h4>
          </div>
        </div>
        <div class="editButtons">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded" pTooltip="Update"
            (click)="editUser(user)" [style]="{'color':'#fff'}"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded" pTooltip="Delete"
            (click)="deleteUser($event, user)" [style]="{'color':'#fff'}"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modify the p-dialog to include a form for updating user details -->
<p-dialog header="Edit User" [(visible)]="editUserDialog" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false"
  [resizable]="false">
  <form [formGroup]="updateUserForm">
    <div class="form-group">
      <label for="userName" translate=>registerUser.username</label>
      <input type="text" pInputText formControlName="userName">
      <div>
        <small *ngIf="isInvalid('userName', updateUserForm, updateFormFormSubmitted)" translate>registerUser.Please enter username</small>
      </div>
    </div>
    <div class="form-group">
      <label for="email" translate=>registerUser.email</label>
      <input type="text" pInputText formControlName="email">
      <div>
        <small *ngIf="isInvalid('email', updateUserForm, updateFormFormSubmitted)" translate>registerUser.Invalid email format</small>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber" translate=>registerUser.phoneNumber</label>
      <input type="text" pInputText formControlName="phoneNumber">
    </div>
    <button pButton type="button" (click)="updateUser()" class="centered-button">Save</button>
  </form>
</p-dialog>