@import '../../../../styles.scss';
.userCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px !important;
    border: solid 1px $secondaryColor;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out;

    .userDetails{
        display: flex;
        align-items: center;
        i {
            font-size: 70px;
            margin-right: 14px;
            color: $bluegray-600;
        }
        h3{
            margin:0;
        }
    }
    .editButtons{
        button{
            margin: 2px;
        }
    }
}