<div class="card">
    <p-toast></p-toast>
    <nav>
        <ul class="nav-list">
            <li *ngFor="let item of navbarItems" [ngClass]="{ 'active-link': isActiveRoute(item.route) }">
                <a [routerLink]="item.route" translate>{{ item.label }}</a>
            </li>
            <div *ngIf="currentUser.isManager" class="dropdown">
                <button class="dropbtn" translate>navbar.AdditionalActionsDropdown.Additional Actions
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a *ngIf="selectedDepartment.currentBudgetTypeId == 2" (click)="openAddMothnlyBudgetDialog()"
                        translate>navbar.AdditionalActionsDropdown.Add Monthly Budget</a>
                    <a *ngIf="selectedDepartment.currentBudgetTypeId == 1 ||selectedDepartment.currentBudgetTypeId == 2"
                        translate (click)="openAddingAmountDialog()">navbar.AdditionalActionsDropdown.Adding an Amount
                        to
                        the Budget</a>
                    <!-- <a translate>navbar.AdditionalActionsDropdown.Resetting the Budget</a> -->
                    <a [routerLink]="['/navbar/users-of-department']" translate>navbar.AdditionalActionsDropdown.Users
                        for Current Department</a>
                    <!-- <a translate>navbar.AdditionalActionsDropdown.Closing the Year</a> -->
                    <a translate (click)="openNewYearDialog()">navbar.AdditionalActionsDropdown.Opening the Year</a>
                </div>
            </div>
        </ul>
        <div class="nav-info">
            <div>
                <p>{{ currentUser?.department?.departmentName }}</p>
                <p *ngIf="currentUser?.isManager">{{ selectedDepartment?. departmentName}}</p>
                <p>{{ currentUser?.username }}</p>
            </div>
            <div>
                <i class="fa-sharp fa-solid fa-arrow-right-from-bracket" (click)="logOut()"></i>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
<p-dialog [(visible)]="addingAmountDialog" [style]="{ width: '450px' }"
    [header]="'insertRefundAmount.insert refund amount' | translate" [modal]="true" styleClass="p-fluid">
    <p translate>{{getCurrentBudgetAmount()}}</p>
    <form [formGroup]="addAmountForm">
        <div class="form-group">
            <p-inputNumber inputId="integeronly" inputId="currency-il" mode="currency" currency="ILS" locale="he-IL"
                formControlName="amountToAdd"
                [placeholder]="'insertRefundAmount.refund amount'|translate"></p-inputNumber>
            <small class="small" *ngIf="isInvalid('amountToAdd', addAmountForm, addAmountFormSubmitted)" translate>globalForm.Please fill
                in all required fields</small>
        </div>
        <div>
            <button class="button saveButton" pButton type="button" (click)="addingAmountToBudget()">{{ 'insertRefundAmount.insert
                refund amount' | translate }}
            </button>
        </div>
    </form>
</p-dialog>
<p-dialog [(visible)]="newYearDialog" [style]="{ width: '650px' }" [header]="'openNewYear.New Year' | translate"
    [modal]="true" styleClass="p-fluid">
    <div class="warning" translate><i class="pi pi-info-circle" ></i> openNewYear.To open a new year, please ensure that all cash registers are approved and all expenses are locked</div>
    <form [formGroup]="newYearFormGroup">
        <div class="form-group">
            <label class="label" for="newYear" translate>openNewYear.New Year</label>
            <input type="text" pInputText formControlName="newYear" placeholder="YYYY-YYYY">
            <small class="small" *ngIf="isInvalid('newYear', newYearFormGroup, newYearFromSubmitted)" class="invalid-feedback"
                translate>
                openNewYear.New Year is required and must be in the format YYYY-YYYY</small>
        </div>
        <div class="form-group">
            <!-- <label for="budgetType" translate>openNewYear.select budget type</label> -->
            <p-dropdown formControlName="budgetType" [options]="budgetTypes" [optionLabel]="getOptionLabel()"
                [placeholder]="'openNewYear.select budget type'|translate" appendTo="body" [style]="{'width':'100%'}"
                (onChange)="onBudgetTypeChange($event.value.budgetTypeId)"></p-dropdown>
            <small class="small" *ngIf="isInvalid('budgetType', newYearFormGroup, newYearFromSubmitted)" class="invalid-feedback"
                translate>
                openNewYear.Budget Type is required
            </small>
        </div>

        <div *ngIf="budgetTypeId == 1" class="form-group">
            <!-- Show if Annual Budget selected -->
            <label class="label" for="annualBudgetAmount" translate>openNewYear.Annual Budget Amount</label>
            <p-inputNumber inputId="currency-il" mode="currency" currency="ILS" locale="he-IL"
                formControlName="annualBudgetAmount" [showButtons]="false"></p-inputNumber>
            <small class="small" *ngIf="isInvalid('annualBudgetAmount', newYearFormGroup, newYearFromSubmitted)"
                class="invalid-feedback" translate>openNewYear.Annual Budget Amount is required</small>
        </div>
        <div *ngIf="budgetTypeId == 2" class="form-group">
            <!-- Show if Monthly Budget selected -->
            <div class="form-group">
                <label class="label" for="monthlyBudgetAmount" translate>openNewYear.Monthly Budget Amount for first month</label>
                <p-inputNumber inputId="currency-il" mode="currency" currency="ILS" locale="he-IL"
                    formControlName="monthlyBudgetAmount" [showButtons]="false"></p-inputNumber>
                <small class="small" *ngIf="isInvalid('monthlyBudgetAmount', newYearFormGroup, newYearFromSubmitted)"
                    class="invalid-feedback" translate>openNewYear.Monthly Budget Amount is required
                </small>
            </div>
            <!-- <div class="form-group">
                <p-dropdown formControlName="MonthlyBudgetMonth" [options]="months"
                    [placeholder]="'Select Month'|translate" optionLabel="name" appendTo="body"
                    [style]="{'width':'100%'}"></p-dropdown>
                <div *ngIf="isInvalid('MonthlyBudgetMonth', newYearFormGroup, newYearFromSubmitted)"
                    class="invalid-feedback" translate>openNewYear.Month is required
                </div>
            </div> -->
        </div>
        <div>
            <button class="button saveButton" pButton type="button" (click)="openNewYear()">
                {{ 'openNewYear.Open new year' | translate }}
            </button>
        </div>
    </form>
</p-dialog>
<p-dialog [(visible)]="AddMothnlyBudgetDialog" [style]="{ width: '550px' }"
    [header]="'AddMothnlyBudgetDialog.Add Monthly Budget' | translate" [modal]="true" styleClass="p-fluid">
    <form [formGroup]="addMonthlyBudgetForm">
        <div class="form-group">
            <label class="label" for="monthlyBudgetYear" translate>AddMothnlyBudgetDialog.year</label>
            <input type="text" pInputText [disabled]="true"
                [value]="selectedDepartment?.budgetInformation?.monthlyBudget?.monthlyBudgetYear ">
            <!-- <div *ngIf="isInvalid('monthlyBudgetYear', addMonthlyBudgetForm, addMonthlyBudgetSubmitted)"
                class="invalid-feedback" translate>
                openNewYear.New Year is required and must be in the format YYYY-YYYY</div> -->
        </div>
        <div class="form-group">
            <label class="label" for="monthlyBudgetAmount" translate>AddMothnlyBudgetDialog.Amount to added</label>
            <p-inputNumber inputId="currency-il" mode="currency" currency="ILS" locale="he-IL"
                formControlName="monthlyBudgetAmount" [showButtons]="false"></p-inputNumber>
            <small class="small" *ngIf="isInvalid('monthlyBudgetAmount', addMonthlyBudgetForm, addMonthlyBudgetSubmitted)"
                class="invalid-feedback" translate>openNewYear.Monthly Budget Amount is required
            </small>
        </div>
        <div class="form-group">
            <label class="label" for="MonthlyBudgetMonth" translate>globalForm.Select Month</label>
            <p-dropdown formControlName="MonthlyBudgetMonth" [options]="months" [placeholder]="'Select Month'|translate"
                optionLabel="name" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
            <small class="small" *ngIf="isInvalid('MonthlyBudgetMonth', addMonthlyBudgetForm, addMonthlyBudgetSubmitted)"
                class="invalid-feedback" translate>openNewYear.Month is required
            </small>
        </div>
        <button class="button saveButton" pButton type="button" (click)="addMonthlyBudget()">
            {{ 'AddMothnlyBudgetDialog.Add Monthly Budget' | translate }}
        </button>
    </form>
</p-dialog>