@import '../../../../../styles.scss';

#container {
  div {
    margin: 2rem;
  }
}

nav {
  display: flex;
  background-color: $bluegray-600;
  justify-content: space-between;

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
  }

  .nav-info {
    display: flex;
    margin-right: 20px;
    color: #fff;
    justify-content: space-between;
    align-items: center;

    p {
      text-align: center;
    }

    i {
      margin-left: 20px;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  a {
    display: block;
    padding: 35px 25px;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    transition: background-color 0.3s, border-bottom 0.3s;
  }

  li:hover {
    background-color: $bluegray-800;
  }

  .active-link {
    a {
      background-color: $bluegray-800;
    }
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  font-weight: bolder;
  height: 100%;
  border-radius: 0px;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: $bluegray-800;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.form-group {
  margin-bottom: 30px;

  input {
    width: 100%;
  }
}

.inputFlex {
  display: flex;
}

.flexDialog {
  display: flex;
  justify-content: space-between;
}

.itemsList {
  .items {
    cursor: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em;

    .fa {
      background: $primaryColor;
      padding: 0.5em;
      margin: 0.5em;
      text-align: center;
      display: inline;
      border-radius: 50%;
      color: #f5f5f5;
      cursor: pointer;
    }
  }
}
.flexForm{
  width: 400px;
  margin-right: 50px;
  margin-left: 50px;
}