<div>
  <div class="budgetDetails">
    <h3 *ngIf="currentUser?.isManager && monthlyRegisters.length == 0" translate>monthlyCashRegister.The department does
      not have any open cash registers for the current month</h3>
    <div>
      <div *ngFor="let monthlyRegister of monthlyRegisters">
        <monthly-cash-register [monthlyRegister]="monthlyRegister"></monthly-cash-register>
      </div>
      <lock-expenses-button *ngIf="currentUser?.isManager"></lock-expenses-button>
    </div>
    <add-monthly-cash-register *ngIf="!isMonthlyRegister && !currentUser?.isManager"></add-monthly-cash-register>
    <budget-information></budget-information>
  </div>
</div>