<div *ngIf="!isMonthlyCashRegister">
  <p translate>messages.Cannot add events before setting up a kupa</p>
  <add-monthly-cash-register translate>monthlyCashRegister.Add Monthly Cash Register</add-monthly-cash-register>
</div>
<div id="addEventPage">
  <p-toast></p-toast>
  <div id="addEventForm">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label class="label" for="selectedEventCategory" translate>addEventForm.select event category</label>
        <p-dropdown formControlName="selectedEventCategory" [options]="eventCategories"
          [optionLabel]="getOptionLabel()"
          appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
      </div>
      <div class="form-group">
        <label class="label" for="eventName" translate=>addEventForm.event name</label>
        <input type="text" pInputText formControlName="eventName">
      </div>
      <p *ngIf="!validForm" translate>globalForm.Please fill in all required fields</p>
      <button pButton type="button" (click)="addEvent()" class="centered-button">{{'addEventForm.add event' |
        translate}}</button>
    </form>
  </div>
  <div id="eventsList" *ngIf="existingEvents">
    <div class="card xl:flex xl:justify-content-center">
      <p-orderList [value]="existingEvents" [listStyle]="{ height: '25rem' }"
        header="{{'addEventForm.existingEvents' | translate}}">
        <ng-template let-event pTemplate="item">
          <div class="eventListItems">
            <p-confirmPopup></p-confirmPopup>

            <div class="editAndNameContainer">
              <div class="editButtons">
                <p-button icon="pi pi-pencil" rounded="true" text="true" pTooltip="Update"
                  (click)="editEvent(event)"></p-button>
                <p-button icon="pi pi-trash" rounded="true" text="true" pTooltip="Delete"
                  (click)="deleteEvent($event, event)"></p-button>
              </div>

              <div class="eventNameContainer" *ngIf="selectedEvent == event; else viewMode">
                <input type="text" [(ngModel)]="editedEventName" (keyup.enter)="saveEventChanges(event)">
              </div>
              <ng-template #viewMode>
                <div class="eventName">
                  <span class="font-bold">{{ event.eventName }}</span>
                </div>
              </ng-template>
            </div>
            <div>
              <button pButton (click)="addExpenseToSelectedEvent(event)" translate>addExpenseForm.Add expense</button>
            </div>
          </div>
        </ng-template>
      </p-orderList>
    </div>
  </div>
</div>