@import '../../../../styles.scss';

#addEventPage {
  display: flex;
  justify-content: space-around;
}

p {
  color: $bluegray-800;
  font-weight: bolder;
}

#addEventForm {
  width: 30%;
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(247, 248, 249);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  height: 15rem;
}

#eventsList {
  direction: rtl;
  margin: 2rem;
  padding: 2rem;
  width: 40%;

  .card {
    position: relative;
  }

  .eventListItems {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .editAndNameContainer {
      display: flex;
      align-items: center;
    }

    .editButtons {
      position: absolute;
      right: 5px;

      ::ng-deep {
        .p-button {
          background: none;
          color: $bluegray-800;
          border-color: $secondaryColor;
          margin: 1px;
        }
      }
    }
    .eventName, .eventNameContainer {
      position: absolute;
      right: 100px;
    }

    button {
      background-color: rgb(129, 142, 161);
      border: none;
      color: #fff;
    }
  }
}

.form-group {
  margin-bottom: 30px;

  input {
    width: 100%;
  }
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
}