::ng-deep .p-inputtext{
    font-size: 26px;
    font-weight: bold;
    color: #fff!important;
    text-align: center;
}
::ng-deep .p-dropdown {
    display: flex;
    align-items: center; /* Vertical centering */
  }