<!-- <div class="card flex justify-content-center">
    <form [formGroup]="formGroup">
      <p-dropdown
        formControlName="selectedDepartment"
        [options]="departments"
        optionLabel="departmentName"
        placeholder="Select a Department"
        [style]="{
          'width': '450px',
          'height': '100px',
          'background-color': '#6381ac',
          'border-radius': '15px'
        }"
        (onChange)="onDropdownChange()"
      ></p-dropdown>
    </form>
  </div>
   -->