<div class="card">
  <nav>
    <ul class="nav-list">
      <li [ngClass]="{ 'active-link': isActiveRoute('/navbar-manager/home-secretary') }">
        <a routerLink="/navbar-manager/home-secretary" translate>navbar.Home</a>
      </li>
      <li [ngClass]="{ 'active-link': isActiveRoute('/navbar-manager/expense-report') }">
        <a routerLink="/navbar-manager/expense-report" translate>navbar.Expense Details</a>
      </li>
      <li [ngClass]="{ 'active-link': isActiveRoute('/navbar-manager/previous-expenses') }">
        <a routerLink="/navbar-manager/previous-expenses" translate>navbar.View previous months</a>
      </li>
      <div>
        <select ng-model="selectedName" ng-options="x for x in names">
        </select>
      </div>
    </ul>
    <div class="nav-info">
      <div>
        <p>{{selectedDepartment?.departmentName }}</p>
        <p>{{currentUser?.username}}</p>
      </div>
      <div>
        <i class="fa-sharp fa-solid fa-arrow-right-from-bracket" (click)="logOut()"></i>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>