<div class="card flex justify-content-center">
  <p-toast></p-toast>
  <p-card>
    <h3><span translate>monthlyCashRegister.The monthly cash register for the month of </span>{{ getMonthName(MonthlyRegisterValue.monthlyCashRegisterMonth)}} {{MonthlyRegisterValue.monthlyCashRegisterYear}}</h3>
    <h4><span translate>monthlyCashRegister.The amount of expenses for this month is</span> &#8362;{{MonthlyRegisterValue.amountInCashRegister | number}}</h4>

    <ng-container *ngIf="budgetType === 'annualBudget'">
      <h5 [ngClass]="{
        'orange-text': getSpentPercentage(amountWastedForCalculatingPercentages?? 0, monthlyAmountForCalculatingPercentages ?? 0) > 80 && getSpentPercentage(amountWastedForCalculatingPercentages ?? 0, monthlyAmountForCalculatingPercentages ?? 0) <= 90,
        'red-text': getSpentPercentage(amountWastedForCalculatingPercentages ?? 0, monthlyAmountForCalculatingPercentages ?? 0) > 90
        }">
        {{ 'monthlyCashRegister.Percentage of Expenses Compared to Last Year' | translate }} 
        {{ getSpentPercentage(amountWastedForCalculatingPercentages ?? 0, monthlyAmountForCalculatingPercentages ?? 0) | number: '1.0-2' }}%
      </h5>
    </ng-container>
    <ng-container *ngIf="budgetType === 'monthlyBudget'">

    </ng-container>

    <h5><span translate>monthlyCashRegister.The refund amount is</span> &#8362;{{MonthlyRegisterValue.refundAmount}}</h5>
    <!-- <div>
      <p translate>monthlyCashRegister.Budget ceiling</p>
      <p translate>monthlyCashRegister.youy ar at % of the budget</p>
    </div> -->
    <ng-template pTemplate="footer">
      <div style="display: flex;">
        <p-button *ngIf="!currentUser.isManager" styleClass="p-button" (click)="navigateToAddExpense()" [label]="'monthlyCashRegister.Add New Expense'|translate"></p-button>
        <ng-container *ngIf="currentUser.isManager; else editExpenseButton">
          <p-button styleClass="p-button" (click)="navigateToExpenseReport()" [label]="'monthlyCashRegister.View Monthly Expenses'|translate"></p-button>
        </ng-container>
        <ng-template #editExpenseButton>
          <p-button styleClass="p-button" (click)="navigateToExpenseReport()" [label]="'monthlyCashRegister.Edit Monthly Expenses'|translate"></p-button>
        </ng-template>
      </div>
    </ng-template>
      
  </p-card>
</div>
