@import'../../../../styles.scss';
.card{
  margin: 2rem;
  width: 100%;
  // padding: 50px;
  h4{
    color: $bluegray-800;
  }
  p{
    font-weight: bold;
  }

  ::ng-deep{
    .p-button{
      width: 300px;
      color: #fff;
      margin: 5px;
    }
  }
  #enterAmountButton{
    background-color: $secondaryColor;
    color: $bluegray-800;
    width: 610px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: medium;
    &:hover{
      background-color: #e0e5f5;
      color: $bluegray-600;
    }
  }
  .orange-text {
    color: orange;
  }
  
  .red-text {
    color: red;
  }
}
.form-group{
  margin-bottom: 30px;
}
.button{
  justify-content: center;
}
