@import '../../../../styles.scss';

.card{
  margin: 2rem;
  ::ng-deep{
    .p-card{
      display: flex;
      background-color: rgb(247,248,249);
  }
  h4{
    color: $bluegray-700;
    font-size: large;
  }
  h5{
    margin-top: 0;
    padding-top: 0;
  }
  p{
    font-weight: 600;
  }
  }
  .orange-text {
    color: orange;
  }
  
  .red-text {
    color: red;
  }
  
}