@import '../../../../../styles.scss';

.departmentsCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;

    .card-container {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        width: 480px;
        border: solid 1px $secondaryColor;
        border-radius: 10px;
        margin: 10px;
        padding: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
        cursor: pointer;
        .editButtons{
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;
        }
        ::ng-deep {
            .p-button {
              color: $secondaryColor;
              background: none;
              border-color: $secondaryColor;
              margin: 1px;
            }
          }
        departmentCard{
            display: flex;
            justify-content: space-between;
        }
        h2{
            font-size: 24px;
            font-weight: 300;
            color: $bluegray-600;
        }
        h3{
            font-size: 22px;
            font-weight: 300;
            color: $bluegray-700;
        }

        .orange-text {
            color: orange;
        }

        .red-text {
            color: red;
        }
    }
}
.table-row {
    font-size: 12px;
    padding-left: 8px;
}

.inActiveDepartments{
    .activateButton{
        background-color: darkblue;
        size: small;
      
    }
}
.form-group {
    margin-bottom: 30px;
  
    input {
      width: 100%;
    }
  }
  
  .inputFlex {
    display: flex;
  }
