@import '../../../../../styles.scss';
.confirmButton{
  margin:2rem 0rem 0rem 5rem;
  font-weight: bolder;
  background-color: #fff;
  color: $bluegray-600;
  // border:solid 3px $orange-300;
  border-radius: 25px;
}